body{
    background: linear-gradient(to left,rgb(57, 45, 224),#610e99);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}

.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
.header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;left: 0;
    background-color: #141016;
    border-bottom: 7px solid #6d0f80;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:75px;
}
.container .btn-menu label{
    display: flex;
    position: fixed;
    left: 14px;
    color: #fff4f4;
    font-size: 35px;
    cursor: pointer;

}   
.logo h1{
    display: flex;
    position: fixed;
    left: 90px;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    margin-top: 0px;
}
.logo img{
    display: flex;
    position: fixed;
    left: 50px;
    top: 15px;
    width: 40px;
    height: 40px;


}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;  
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #5d0486;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;

}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 140vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    position: flex;
    justify-content: flex-start;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    color: #a945c7;
    border-left: 5px solid #630177;
    background: #1f1f1f;
    text-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;

}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}


.movil{
    display: flex;
    position: absolute;
    left: 20px;
    top: 80px;
}

 .textomovil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 80px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textomovil:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

.pc{
    display: block;
    position: absolute;
    left: 300px;
    top: 80px;
 }

.textopc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 80px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.textopc:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }


.descargarminecraft{
    display: block;
    position: absolute;
    left: 15px;
    top: 200px;
    border-bottom: 7px solid #a945c7;
}


.minecraftimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textominecraft{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textominecraft:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textominecraftdos{
    display: flex;
    position: relative;
    left: 12;
    top: 24px;
    margin-top: -100px;
    width: 170;
    height: 90;
    
    
 }

 .descargarlimbo{
    display: block;
    position: absolute;
    left: 265px;
    top: 190px;
    border-bottom: 7px solid #a945c7;

}

.limboimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textolimbo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textolimbo:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textolimbodos{
    display: block;
    position: absolute;
    left: 50;
    top: 24px;
    margin-top: -60px;
    width: 100;
    height: 30;
    
    
 }

 .descargarhollow{
    display: block;
    position: absolute;
    left: 515px;
    top: 190px;
    border-bottom: 7px solid #a945c7;

}

.hollowimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textohollow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textohollow:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textohollowdos{
    display: block;
    position: absolute;
    left: 1;
    top: 24px;
    margin-top: -74px;
    width: 200;
    height: 50;
    
    
 }


 .descargarfnafuno{
    display: block;
    position: absolute;
    left: 15px;
    top: 580px;
    border-bottom: 7px solid #a945c7;

}

.fnafunoimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textofnafuno{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textofnafuno:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textofnafunodos{
    display: block;
    position: absolute;
    left: 1;
    top: 24px;
    margin-top: -74px;
    width: 200;
    height: 50;
    
    
 }

 .descargarfnafdos{
    display: block;
    position: absolute;
    left: 265px;
    top: 550px;
    border-bottom: 7px solid #a945c7;


}

.fnafdosimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textofnafdos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textofnafdos:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textofnafdosdos{
    display: block;
    position: relative;
    left: 12;
    top: -5px;
    margin-top: -20px;
    width: 170;
    height: 50;
    
    
 }

 .descargarfnaftres{
    display: block;
    position: absolute;
    left: 515px;
    top: 550px;
    border-bottom: 7px solid #a945c7;


}

.fnaftresimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textofnaftres{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textofnaftres:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textofnaftresdos{
    display: block;
    position: relative;
    left: 12;
    top: -5px;
    margin-top: -30px;
    width: 170;
    height: 60;
    
    
 }


 .descargarfnafcuatro{
    display: block;
    position: absolute;
    left: 765px;
    top: 550px;
    border-bottom: 7px solid #a945c7;


}

.fnafcuatroimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textofnafcuatro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textofnafcuatro:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textofnafcuatrodos{
    display: block;
    position: relative;
    left: 12;
    top: -5px;
    margin-top: -30px;
    width: 170;
    height: 60;
     
 }

 .descargargris{
    display: block;
    position: absolute;
    left: 765px;
    top: 190px;
    border-bottom: 7px solid #a945c7;


}

.grisimagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.textogris{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 37, 126);
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    max-width: 170px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.textogris:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.0.1s;
 }

 .textogrisdos{
    display: block;
    position: absolute;
    left: 1;
    top: -10px;
    margin-top: -50px;
    width: 200;
    height: 50;
    
    
 } 

 .descargasjuego{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

 }








