body{
    background: linear-gradient(to left,rgb(57, 45, 224),#610e99);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}

.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
.header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;left: 0;
    background-color: #141016;
    border-bottom: 7px solid #6d0f80;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:75px;
}
.container .btn-menu label{
    display: flex;
    position: fixed;
    left: 14px;
    color: #fff4f4;
    font-size: 35px;
    cursor: pointer;

}   
.logo a{
    display: flex;
    position: fixed;
    left: 90px;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    margin-top: 0px;
}
.logo img{
    display: flex;
    position: fixed;
    left: 50px;
    top: 15px;
    width: 40px;
    height: 40px;


}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;  
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #5d0486;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(32, 32, 32, 0.5);
    width: 100%;
    min-height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 140vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    color: #a945c7;
    border-left: 5px solid #630177;
    background: #1f1f1f;
    text-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;

}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}
.peliculafnaf1{
    display: block;
    position: absolute;
    left: 50px;
    top: 200px; 


}

.fnaf1imagen{
    object-fit: cover;
    border-radius: 10%;
    transition: all 300ms;
}

.fnaf1imagen:hover{
    transform: scale(1.15);
}

.peliculafnaf1texto{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: -1px 10px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0px;
    text-decoration: solid;
    margin: auto;
    max-width: 1000px;
    transition: 0.1s;
    font-family: Arial, Helvetica, sans-serif;
}
